body {
	background-image: url("../images/colorblocks.jpg");
	background-size: cover;
  background-attachment: fixed;
}

h1 {
	height: 80px;
	text-align: center;
	color: white;
	font-family: georgia;
  font-size: 300%;
	margin-top: 65px;
  border: 1px;
  border-radius: 5px;
  background:#7f7f7f;
  background:rgba(0,0,0,0.5);
  padding: 5px;
}

table {
  border: 1px;
  border-radius: 5px;
  background:#7f7f7f;
  background:rgba(0,0,0,0.5);
  padding: 5px;
}

input{
  height: 28px;
  width: 100px;
}

#colors td {
  width: 25px;
  height: 25px;
  border-radius: 10px;
}


#beerPong {
  height: 500px;
  width: 500px;
  border-collapse: collapse;
  user-select: none;
}

.button{
	position:relative;
	color:#FFF;
	display:inline-block;
	justify-content: center;
	text-decoration:none;
	margin: 0 auto;
	border-radius:5px;
	border:solid 1px #D94E3B;
	background:#cb3b27;
	padding: 5px;

	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;

	-webkit-box-shadow: 0px 9px 0px #84261a;
	-moz-box-shadow: 0px 9px 0px #84261a;
	box-shadow: 0px 5px 0px #84261a;
}

.button:active{
  -webkit-box-shadow: 0px 2px 0px #84261a;
  -moz-box-shadow: 0px 2px 0px #84261a;
  box-shadow: 0px 2px 0px #84261a;
  position:relative;
  top:7px;
}


#border_main {
  border: solid black 2px;
  display: inline-block;
  position: absolute;
  top: 186px;
  left: 317px;
  -webkit-box-shadow: 0 11px 11px 0px black;
  -moz-box-shadow: 0 11px 11px 0px black;
  box-shadow: 0 11px 11px 0px black;
}
